body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.42857143;
  color: #e4ddec;
  background-color: #1C202B;
  margin: 0;
  font-size: 15px;
  position: relative;
  margin: 0;
  min-height: 100%;
}
h5 {color: #e4ddec}
#recButton{font-size: 80px;}

.notRec{
	color: #1C202B;
}
.Rec{
	color: red;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.card{display: flex; background-color: #252B39; border-radius: 5px; padding: 10px;}
#inner-card{display: flex; justify-content: center; align-items: center; height: 100%;}
.chat-block{height: 80vh; position: relative; padding: 20px;}
.rec-block{height: 50vh;}
#recButton { width:20% ;font-size: 40px; border-radius: 50%; background-color: #7169E2;}
#output-block{ position: relative; background: transparent; border: 1px solid #bcbcf2; height: 90%; border-radius: 5px;}
#input-block{ display:flex; position:absolute; bottom:0; width: 100%; padding: 5px; }
#input-block textarea { background:transparent; color: #e4ddec; width:95%; border-radius: 8px; border: 1px solid #bcbcf2; min-height: 25px; line-height: normal; height: auto; outline: none; padding: 5px 12px 0px 12px; resize: none;}
#input-block button{ width:5%; background-color: #7169E2; margin-left: 8px; border-radius: 50%;}
#text-out{position: absolute; height: 80%; width: 100%; top: 0;}

@keyframes pulse{
	from{
		filter:drop-shadow(0px 0px 0px #7169E2)
	}
	to{
		filter:drop-shadow(0px 0px 25px #7169E2)
	}
}

textarea::-webkit-scrollbar {
    width: 6px;
}
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #1C202B;
    border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #bcbcf2;
  border-radius: 10px;
}