<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabrel</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/index.css') }}">
    <script src="{{url_for('static',filename='/index.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-4">
                <div class="rec-block card">
                    <h5 class="padtop-20" id="topics">Voice</h5>
                    <div id="inner-card">
                        <button id="recButton" type="button" class="btn notRec">
                            <i class="bi bi-mic"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
              <div class="chat-block card">  
                <h5 class="padtop-20" id="topics">Chat</h5>

                <div id="output-block">
                    <div id="text-out">
                      <ul id="chatBlock"></ul>
                    </div>
                    <div id="input-block">
                    <!-- <input type="text" id="chat-input"> -->
                    <textarea type="text" name="prompt"></textarea>
                    <button id="send" class="btn">
                      <i class="bi bi-send"></i>
                    </button>
                </div>
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>      
</body>
</html>

